*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  background-color: #22223b;
}
main {
  width: min(100%, 1230px);
  margin: 1.875rem auto;
  padding-inline: 1rem;
}
:is(button) {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
section {
    &.h1-switch {
        .h1-switch__wrapper{
            h1 {
                color: #FEFEFE;
            }
            display: flex;
            justify-content: space-between;
        }
    }
    &.grid-list {
        .grid-list__wrapper {
            margin-block-start: 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 224px);
            gap: 1rem;
            .item {
                color: #F2E9E4;
                padding: 1em;
                border-radius: 4px;
                background-color: rgba(221, 195, 226, 0.05);
                display: grid;
                gap: 4px;
                grid-template-areas: 
                "item_head"
                "item_sub_head"
                "tag__wrapper";
                grid-template-rows: auto;
                align-items: start;
                align-content: start;
                .item-head {
                    font-size: 1.0625rem;
                    font-weight: 400;
                    line-height: 1;
                    grid-area: item_head;
                }
                .item-sub-head {
                    font-size: 0.6875rem;
                    font-weight: 300;
                    line-height: 11px;
                    grid-area: item_sub_head;
                }
                .tag__wrapper {
                    margin-block-start: 11px;
                    display: flex;
                    gap: 7.2px;
                    grid-area: tag__wrapper;
                    button {
                        border-radius: 4px;
                        padding: 0.5em 1em;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        color: inherit;
                        background-color: rgba(221, 195, 226, 0.05);
                    }
                }
            }
            &.list__view {
                animation: toListView 2s forwards linear;
                .item {
                        align-items: center;
                        animation: itemLayout 2s linear forwards;
                    .tag__wrapper {
                        animation: tagOpacity 2s linear forwards;
                        margin-block-start: 0;
                    }
                }
            }
        }
    }
}
@keyframes toListView {
    from {
        grid-template-columns: repeat(3, 1fr);
    }
    50% {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 64px);
    }
    to {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 64px);
    }
}
@keyframes itemLayout {
    from {
        grid-template-areas: 
            "item_head"
            "item_sub_head"
            "tag__wrapper";
        }
    25% {
        grid-template-areas: 
            "item_head"
            "item_sub_head"
            "tag__wrapper";
        }
    50% {
        grid-template-areas: 
            "item_head tag__wrapper"
            "item_sub_head tag__wrapper";
    }
    to {
        grid-template-areas: 
            "item_head tag__wrapper"
            "item_sub_head tag__wrapper";
    }
}
@keyframes tagOpacity {
    from {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    65% {
        translate: 0 -100%;
    }
    100% {
        opacity: 1;
        translate: 0;
    }

}
.switch {
  display: inline-flex;
  align-items: center;
  gap: 0.875rem;
  & label {
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    input {
      appearance: none;
      position: absolute;
    }
    svg {
      vertical-align: middle;
    }
  }
}
  